<%= render "shared/header" %>

<div class="contents row">
  <div class="container">
    <div class="comments">
      <h4>＜スレッド一覧＞</h4>
      <%# <div class="form-comment"> %>
        <% @comments.each do |comment| %>
          <% if admin_signed_in? || (user_signed_in? && (current_user.id == comment.user_id)) %>
            <div class="comment-box">
              <%= form_with url:comment_path(comment.id), method: :patch, local: true do |f| %>
              <span class="comment-name"><%= comment.user.name %></span>
                <%= f.text_field :text, value:comment.text, class:"form input" %>
                <div class="btn-box">
                  <li><%= f.submit "編集する", class:"edit-btn" %></li>
                    <% end %>
                  <li><%= button_to "削除", comment_path(comment.id), method: :delete, class:"delete-btn" %></li>
                </div>
            </div>
          <% elsif user_signed_in? && (current_user.id != @comment.user_id) %>
              <div>
                <p><span><%= comment.user.email %></span>:<%= comment.text %></p>
                <%= link_to "返信", new_comment_reply_path(comment.id) %>
              </div>
          <% else %>
            <div>
              <p><span><%= comment.user.email %></span>:
                <%= link_to comment_path(comment.id), method: :get do %>
                  <%= comment.text %>
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>
    </div> 
      <hr>
    <div class="send-box">
      <% if user_signed_in? %>
        <%= form_with(model: @comment, local: true) do |form| %>
          <%= form.text_area :text %>
          <%= form.submit "SEND", class:"send" %>
        <% end %>
      <% end %>
    </div>
  <div>
<div>
<div class="">
  <% if user_signed_in? %>
  <% else %>
    <ul>
      <% unless @admin != nil %>
        <li><%= link_to '管理者登録', new_admin_registration_path, method: :get %></li>
      <% else %>
        <% if admin_signed_in? %>
          <li><%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to '管理者はこちら', new_admin_session_path, method: :get %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
