<%= link_to 'サインイン', new_admin_registration_path, method: :get %>
<%= link_to 'ログイン', new_admin_session_path, method: :get %>
<%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>

  <div class="comments">
    <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <%= comment.text %>
        </p>
      <% end %>
  </div>
  <div class="container">
    <%# if current_user %>
      <%= form_with(model: @comment, local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <%# else %>
      <%# <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong> %>
    <%# end %>
  </div>
