<%= link_to '新規登録', new_user_registration_path, method: :get %>
<%= link_to 'ログイン', new_user_session_path, method: :get %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<div>
  <% if user_signed_in?  %>
    <p><%= current_user.email %>がログインしてます</p>
  <% end %>
</div>


  <div class="comments">
    <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <% if admin_signed_in? || (user_signed_in? && (current_user.id == comment.user_id)) %>
          <div>
            <%= form_with url:comment_path(comment.id), method: :patch, local: true do |f| %>
              <p><span><%= comment.user.email %></span><%= f.text_field :text, value:comment.text, class:"" %></p>
              <%= f.submit "編集する", class:"#" %>
            <% end %>
          </div>
          <%= button_to "削除", comment_path(comment.id), method: :delete %>
        <% elsif user_signed_in? && (current_user.id != @comment.user_id) %>
          <%# @comments.each do |comment| %>
            <div>
              <p><span><%= comment.user.email %></span>:<%= comment.text %></p>
              <%= link_to "返信", new_comment_reply_path(comment.id) %>
            </div>
          <%# end %>
        <% else %>
          <p><span><%= comment.user.email %></span>:<%= comment.text %></p>
        <% end %>
      <% end %>
  </div> 

<hr>

  <div>
    <%= form_with(model: @comment, local: true) do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
<%= link_to '管理者新規登録', new_admin_registration_path, method: :get %>
<%= link_to 'ログイン', new_admin_session_path, method: :get %>
<%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
